<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{0,0},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{232,0},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{464,0},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{696,0},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{0,439},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{232,439},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{464,439},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{696,439},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{0,878},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,439}</string>
                <key>spriteSourceSize</key>
                <string>{232,439}</string>
                <key>textureRect</key>
                <string>{{232,878},{232,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{928,1317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65b554dbfc14aa5dba918c81f24c5418:22e05ae99c6002ab9c709fdb05d11cf5:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
